@import "./directives/rounded";
@import "./directives/elevation";
@import "./directives/outlined";
@import "./directives/font";
@import "./directives/size";
@import "./directives/flex";

body, html {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source%20Sans%20Pro:200,300,400,600,700');

#app {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  &.theme--dark {
    $dark_background: #1f2128;
    background: $dark_background;
  }

  &.theme--light {
    $dark_background: #fafafa;
    background: $dark_background;
  }
}
