//$dark_background: #1F2027;
$dark_background: #0c0c0c;
$light_background: #fafafa;

//$dark_sheet: #242832;
$dark_sheet: #171717;
$light_sheet: #ffff;

$dark_card_text: #bdbdbd;
$light_card_text: #46474a;

$gap: 4px;

//TODO remove / change above

$navbarHeight: 50px;

$outlineColor: color-mix(
                in srgb,
                color-mix(
                                in srgb,
                                var(--sheet-card),
                                #fff 10%
                ),
                transparent 45%);

$outline: 2px solid $outlineColor;
