//$dark_background: #1F2027;
$dark_background: #1f2128;
$light_background: #fafafa;

//$dark_sheet: #242832;
$dark_sheet: #242731;
$light_sheet: #ffff;

$dark_card_text: #bdbdbd;
$light_card_text: #46474a;

$gap: 4px;
