@import "../variables";

.dark, .light {
  .blur {
    background: color-mix(in srgb, var(--sheet-card), transparent 50%) !important;
    &--low{
      backdrop-filter: blur(10px);
    }
    &--medium{
      backdrop-filter: blur(35px);
    }
    &--strong{
      backdrop-filter: blur(100px);
    }
  }
}

