@import "../variables";

.theme--dark {
  @for $i from 1 through 24 {
    $brightness: $i + 0.5%;
    .elevation-#{$i} {
      background: lighten($dark_sheet, $brightness);
    }
  }

  @for $i from 1 through 24 {
    $brightness: $i + 0.5%;
    .elevation-n#{$i} {
      background-color: darken($dark_sheet, $brightness);
    }
  }

  .elevation {
    background-color: $dark_sheet;
  }
}

.theme--light {
  .elevation {
    background-color: $light_sheet;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  }
}
