@import "../variables";

.theme--dark {
  @for $i from 1 through 24 {
    $brightness: $i + 0.2%;
    &.elevation-n#{$i} {
      background: lighten($dark_sheet, $brightness) !important;
    }
  }

  @for $i from 1 through 24 {
    $darkness: $i + 0.5%;
    &.elevation-#{$i} {
      background-color: darken($dark_sheet, $darkness) !important;
    }
  }

  &.elevation {
    background-color: $dark_sheet !important;
  }
}

.theme--light {
  @for $i from 1 through 24 {
    $elevation: $i + 0.5px;
    &.elevation-#{$i} {
      box-shadow: rgba(99, 99, 99, 0.2) 0 2px $elevation 1px;
    }
  }

  @for $i from 1 through 24 {
    $elevation: $i + 0.5px;
    &.elevation-n#{$i} {
      box-shadow: inset rgba(99, 99, 99, 0.2) 0 2px $elevation 1px;
    }
  }

  &.elevation {
    background-color: $light_sheet !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  }
}
