@import "../variables";

.flex {
  display: flex;

  gap: $gap * 3;

  &.no-gap {
    gap: normal;
  }

  &.wrap{
    flex-wrap: wrap;
  }

  &.block{
    flex: 1;
    width: 100%;
  }

  &.column {
    flex-direction: column;
  }
}
