.font-{
  &weight{
    &-light{
      font-weight: 300;
    }
    &-medium{
      font-weight: 400;
    }
    &-bold{
      font-weight: 600;
    }
  }
  &size{
    &-small {
      font-size: 1rem !important;
    }
    &-medium {
      font-size: 1.5rem !important;
    }
    &-large {
       font-size: 3rem !important;
     }
  }
}
