@import "../variables";

.glow {
  position: relative;
  border-radius: inherit;

  user-select: none;

  &Central {

    list-style: none;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Selectable {
    user-select: auto;
  }


  &::before {
    position: absolute;
    border-radius: inherit;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--sheet-glow);
    opacity: 0;

    content: '';
    transition-duration: 0.15s;

  }

  &:hover {
    &::before {
      background: var(--sheet-glow);
      opacity: 0.08;
    }
  }

  &:not(:is(&Active)) {
    color: color-mix(in srgb, var(--text-card), #fff 15%);
  }

  &Active {
    &::before {
      background: var(--sheet-glow);
      opacity: 0.1;
    }

    &:hover {
      &::before {
        background: var(--sheet-glow);
        opacity: 0.2;
      }
    }
  }

}
