@import "../variables";

.inlined, .outlined {
  outline: $outline;
  &.depressed.dark {
    outline: 1px solid rgba(#333337, 0.45);
  }
  &.depressed.light {
    outline: 1px solid rgba(0, 0, 0, 0.12);
  }
}
