.rounded {
  &-circle {
    border-radius: 50% !important;
  }
  &-pill {
    border-radius: 99999px !important;
  }
  &-xl {
    border-radius: 12px !important;
  }
  &-lg {
    border-radius: 6px !important;
  }
  &-md {
    border-radius: 4px !important;
  }
  &-none {
    border-radius: 0 !important;
  }
}
