.rounded {
  &-circle {
    border-radius: 50%;
  }
  &-pill {
    border-radius: 99999px;
  }
  &-xl {
    border-radius: 20px;
  }
  &-lg {
    border-radius: 8px;
  }
  &-md {
    border-radius: 4px;
  }
}
