@import "../variables";

// padding all sides
.pa-0{
  padding: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .pa-#{$i} {
    padding: $newGap !important;
  }
}

// padding horizontal
.px-0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .px-#{$i} {
    padding-left: $newGap !important;
    padding-right: $newGap !important;
  }
}

// padding vertical
.py-0{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .py-#{$i} {
    padding-top: $newGap !important;
    padding-bottom: $newGap !important;
  }
}

// padding left
.pl-0{
  padding-left: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .pl-#{$i} {
    padding-left: $newGap !important;
  }
}

// padding right
.pr-0{
  padding-right: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .pr-#{$i} {
    padding-right: $newGap !important;
  }
}

// padding top
.pt-0{
  padding-top: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .pt-#{$i} {
    padding-top: $newGap !important;
  }
}

// padding bottom
.pb-0{
  padding-bottom: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .pb-#{$i} {
    padding-bottom: $newGap !important;
  }
}


//--------------------------------------\\


// margin all sides
.ma-0{
  margin: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .ma-#{$i} {
    margin: $newGap !important;
  }
}

// margin horizontal
.mx-0{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .mx-#{$i} {
    margin-left: $newGap !important;
    margin-right: $newGap !important;
  }
}

// margin vertical
.my-0{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .my-#{$i} {
    margin-top: $newGap !important;
    margin-bottom: $newGap !important;
  }
}

// margin left
.ml-0{
  margin-left: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .ml-#{$i} {
    margin-left: $newGap !important;
  }
}

// margin right
.mr-0{
  margin-right: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .mr-#{$i} {
    margin-right: $newGap !important;
  }
}

// margin top
.mt-0{
  margin-top: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .mt-#{$i} {
    margin-top: $newGap !important;
  }
}

// margin bottom
.mb-0{
  margin-bottom: 0 !important;
}
@for $i from 1 through 24 {
  $newGap: $i * $gap;
  .mb-#{$i} {
    margin-bottom: $newGap !important;
  }
}
